.container{
    background-color: black;
    display: flex;
    white-space: nowrap;
}
.evn{
    color: white;
}
.btn1{
    background-color: rgba(157, 230, 84, 0.788);
    color: white;
    margin-bottom: 10px;
    justify-content: end, right;
    padding: 5px 20px 5px 20px;
    border-radius: 5px;
    border-width: 1px;
    margin-left: auto;
    margin-right: 15px;
    margin-top: 5px;
}
.btn1:hover {
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

.Logo{
    width:100px;

}
.nav-links{
    gap: 30px;
    display:flex;
    list-style: none;

}
.nav-link a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: 800;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.btn2{
    background-color: rgb(255, 255, 255);
    color: black;
    margin-bottom: 10px;
    justify-content: end, right;
    padding: 5px 20px 5px 20px;
    border-radius: 5px;
    border-width: 1px;
    margin-right: 10px;
}
.btn2:hover {
    cursor: pointer;
    background-color: black;
    color: white;
}
    

.hero{
    background-color: rgba(118, 172, 38, 0.774);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    padding: 0px;
}

.hero-image{
    width: 50%;
    height: 71%;
}

.hero-image img{
    width: 550px;
    height: 700px;
    margin-left: none;
}

.hero-content{
    width: 50%;
}

.hero-content h1{
    font-size: 70px;
    margin: 0px;
    margin-bottom: 20px;
}

.hero-content p{
    font-size: 18px;
    line-height: 1.8;
    margin-bottom: 20px;
}
.hero-content h4{
    font-size: 20px;
    margin-top: 30px;
}
.btn3{
    size: 30px;
    background-color: black;
    color: white;
    padding: 5px 20px 5px 20px;
    border-radius: 5px;
    border-width: 1px;
    padding: 8px 20px 8px 20px;    
}

@media (max-width: 900px) {
  .cards-wrapper {
    align-items: center;
  }

  .card-small,
  .card-medium,
  .card-large {
    width: 45%;
  }
}

@media (max-width: 500px) {
  .card-small,
  .card-medium,
  .card-large {
    width: 90%;
  }
}
.photocards-section {
  text-align: center;
  padding: 60px 20px;
}

.section-title {
  margin-bottom: 40px;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
}

.card-container {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  gap: 20px;
  flex-wrap: nowrap;
}

.card-container div {
  background: #f2f1ec;
  padding: 10px 10px 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  border-radius: 2px;
  transition: 0.3s ease;
}

.card-container img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
  transition: 0.3s ease;
}

.card-caption {
  margin: 8px 0 0;
  font-family: Arial, sans-serif;
  font-size: 14px;
  color: #555;
}

.card-small {
  width: 180px;
  height: 230px;
  transition: ease-in, 2s;
}
.card-small:hover{
  width: 190px;
  height: 240px;
}

.card-small img {
  height: 180px;
}

.card-medium {
  width: 220px;
  height: 280px;
  transition: ease-in 2s;
}
.card-medium:hover{
  width: 240px;
  height: 290px;
}
.card-medium img {
  height: 220px;
}
.card-large {
  width: 270px;
  height: 340px ;
  transition: ease-in 2s;
}
.card-large:hover{
  width: 280px;
  height: 355px ;
}

.card-large img {
  height: 280px;
}
@media (max-width: 375px){
  .card-container{
    display: grid;
    flex-direction: column;
    align-items: center;
  }
  }
  .card-large:hover, .card-medium:hover, .card-small:hover {
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    background-color: rgba(118, 172, 38, 0.774);
}
.section-title {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    font-size: 28px;
    color: rgba(118, 172, 38, 0.774);
    
}

.section-title::before,
.section-title::after {
    content: "";
    width: 80px;
    height: 2px;
    background-color: rgba(118, 172, 38, 0.774);
}
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial, sans-serif;
    background:#f8f8f8;
}

.avada-for{
    width:90%;
    margin:80px auto;
}

.section-title{
    display:flex;
    align-items:center;
    justify-content:center;
    gap:15px;
    color:rgba(118, 172, 38, 0.774);
    font-size:28px;
    margin-bottom:50px;
}

.section-title::before,
.section-title::after{
    content:"";
    width:80px;
    height:2px;
    background:rgba(118, 172, 38, 0.774);
}

.card-container1{
    display:flex;
    justify-content:center;
    gap:25px;
    flex-wrap:wrap;
}

.card1{
    width:260px;
    background:white;
    padding:30px 20px;
    border-radius:12px;
    text-align:center;
    box-shadow:0 5px 15px rgba(0,0,0,.08);
    transition:.3s;
}

.card1:hover{
    transform:translateY(-8px);
    box-shadow:0 12px 25px rgba(0,0,0,.18);
    cursor:pointer;
}

.icon{
    width:70px;
    height:70px;
    margin:auto;
    border-radius:50%;
    background:rgba(118, 172, 38, 0.774);
    color:#ffffff;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:30px;
    margin-bottom:20px;
}

.card1 h3{
    margin-bottom:10px;
    font-size:22px;
}

.card1 p{
    color:#666;
    font-size:15px;
    line-height:1.6;
    margin-bottom:20px;
}

.card1 a{
    text-decoration:none;
    color:rgba(118, 172, 38, 0.774);
    font-weight:bold;
}

.card1 a:hover{
    text-decoration:underline;
}
.section-title1 {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 15px;
    font-size: 28px;
    color: rgba(118, 172, 38, 0.774);
    margin-top: 50px;
    margin-bottom: 50px;
    
}

.section-title1::before,
.section-title1::after {
    content: "";
    width: 80px;
    height: 2px;
    background-color: rgba(118, 172, 38, 0.774);
}
.hosting{
    width:90%;
    margin:80px auto;
    text-align:center;
}

.hosting-cards{
    display:flex;
    justify-content:center;
    gap:30px;
    flex-wrap:wrap;
    margin-top:40px;
}

.hosting-card{
    width:300px;
    background:#fff;
    padding:30px;
    border-radius:15px;
    box-shadow:0 5px 15px rgba(0,0,0,.1);
    transition:.3s;
    position:relative;
}

.hosting-card:hover{
    box-shadow:0 12px 25px rgba(0,0,0,.18);
}

.featured{
    border:3px solid rgba(118, 172, 38, 0.774);
}

.tag{
    position:absolute;
    top:-15px;
    left:50%;
    transform:translateX(-50%);
    background:rgba(118, 172, 38, 0.774);
    color:white;
    padding:6px 18px;
    border-radius:10px;
    font-size:13px;
    font-weight:bold;
}

.hosting-card h3{
    margin-bottom:15px;
    font-size:24px;
}

.hosting-card h1{
    color:rgba(118, 172, 38, 0.774);
    margin-bottom:20px;
    font-size:42px;
}

.hosting-card h1 span{
    font-size:18px;
    color:grey;
}

.hosting-card ul{
    list-style:none;
    margin:25px 0;
}

.hosting-card ul li{
    padding:10px 0;
    color:#555;
}

.hosting-card button{
    width:100%;
    padding:12px;
    border:none;
    border-radius:8px;
    background:rgba(118, 172, 38, 0.774);
    color:#fff;
    font-size:16px;
    cursor:pointer;
    transition:.3s;
}

.hosting-card button:hover{
    background:rgba(118, 172, 38, 0.774);
}
.customization{
    display: flex;
    width:90%;
    justify-content: left;
    justify-content:space-around;
    flex-wrap:wrap;
}

.customization-image img{
    max-width: 100%;
    height: 80%;
    border-radius:15px;
    box-shadow:0 8px 20px rgba(0,0,0,.15);
    margin-right: none;
}

.customization-content{
    width: 50%;

}

.customization-content h5{
    color:rgba(118, 172, 38, 0.774);
    letter-spacing:1px;
    margin-bottom:10px;
}

.customization-content h2{
    font-size:30px;
    margin-bottom:20px;
}

.customization-content p{
    color:#666;
    line-height:1.8;
    margin-bottom:25px;
}

.customization-content ul{
    list-style:none;
    margin-bottom:10px;
}

.customization-content ul li{
    padding:10px 0;
    font-size:15px;
    color:gray;
}

.customization-content button{
    padding:14px 30px;
    border:none;
    width: 300px;
    background:rgba(118, 172, 38, 0.774);
    color:white;
    font-size:16px;
    border-radius:8px;
    cursor:pointer;
    transition:.3s;
}

.customization-content button:hover{
    background:rgba(118, 172, 38, 0.774);
}
.section-title2 {
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 15px;
    font-size: 28px;
    color: rgba(118, 172, 38, 0.774);
    margin-top: 40px;
    margin-bottom: 60px;
    
}

.section-title2::before,
.section-title2::after {
    content: "";
    width: 80px;
    height: 2px;
    background-color: rgba(118, 172, 38, 0.774);
}
.card-container3{
    display:flex;
    justify-content:space-between;
    gap:25px;
    flex-wrap:wrap;
}

.card2{
    width:240px;
    background:white;
    padding:30px 20px;
    border-radius:12px;
    text-align:center;
    box-shadow:0 5px 15px rgba(0,0,0,.08);
    transition:.3s;
}

.card2:hover{
    transform:translateY(-8px);
    box-shadow:0 12px 25px rgba(0,0,0,.18);
    cursor:pointer;
}



.card2 h3{
    margin-bottom:10px;
    font-size:22px;
}

.card2 p{
    color:#666;
    font-size:15px;
    line-height:1.6;
    margin-bottom:20px;
}

.card2 a{
    text-decoration:none;
    color:rgba(118, 172, 38, 0.774);
    font-weight:bold;
}

.card2 a:hover{
    text-decoration:underline;
}
.Resources {
    margin-top: 40px;
    text-align: center;
    align-items: center;
    justify-content:space-around;
    gap:10px;
}

.Feedback{
    width:90%;
    margin:100px auto;
    text-align:center;
}
.testimonial-image{
    flex: 1;
    margin-top: 50px;
}

.testimonial-image img{
    width: 280px;
    height: 280px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0 10px 25px rgba(0,0,0,0.15);
    transition: .3s;
}

.testimonial-content{
    flex: 2;
}

.stars{
    color: gold;
    font-size: 24px;
    margin-bottom: 20px;
}

.testimonial-content p{
    font-size: 18px;
    color: #555;
    line-height: 1.8;
    font-style: italic;
    margin-bottom: 25px;
}

.testimonial-content h3{
    font-size: 24px;
    margin-bottom: 5px;
}

.testimonial-content span{
    color: #777;
    font-size: 16px;
}
.testimonials{
    display: flex;
}
.footer{
    background:#2d2d2d;
    color:white;
    width: 120%;
}

.footer-container{
    display:flex;
    justify-content:space-between;
    gap:50px;
    flex-wrap:wrap;
}

.footer-column{
    flex:1;
    min-width:250px;
}

.footer-column h3{
    color: rgba(118, 172, 38, 0.774);
    margin-bottom:20px;
    font-size:24px;
}

.footer-column p{
    color:#d6d6d6;
    line-height:1.8;
    margin-bottom:12px;
}

.footer-column ul{
    list-style:none;
}

.footer-column ul li{
    margin-bottom:12px;
    color:#d6d6d6;
    cursor:pointer;
    transition:.3s;
}

.footer-column ul li:hover{
    color: rgba(118, 172, 38, 0.774);
    padding-left:8px;
}

.footer hr{
    margin:40px 0 20px;
    border:none;
    height:1px;
    background:#555;
}

.footer-bottom{
    text-align:center;
    color:#bdbdbd;
    font-size:15px;
}